@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<InventoryManagementSystem.Models.Entities.Product>

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Quantity</th>
            <th>Price (per qty)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.ProductName</td>
                <td>@product.Description</td>
                <td>@product.Location</td>
                <td>@product.Quantity</td> 
                <td>@product.Price</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Products" asp-action="EditProduct" asp-route-id="@product.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
